.App
  text-align: center
  background-color: #68D2E7
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

  #board-container
    width: 100%
